
.raleway-portfolio {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: #eef0f4;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: full;
    padding: 50px;

}
nav ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
nav ul li{
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
}
.button-style{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 36px;
}
.ui-tmp-item{
    text-align: center;
    padding-bottom: 230px;
    margin: 0 267px;
    padding: 300 267px 167px 267px;
}

.banner{
    display: flex;
    align-items: center;
    gap: 220px;
    margin-top: 76px;
    margin-bottom: 176px;
    margin-left: 220px;
    margin-right: 96px;
    
}
.banner-title,.centered-title{
    font-weight: bold;
    font-size: 44px;
}
.banner-description{
    font-size: 24;
    color: #252432;
}
.banner img{
    border-radius: 48px;
    max-width: 400px;
}
.productive-users-section{
    
     margin: 0 160px 130px 140px;
     text-align: center;
     padding: 50px 80px;
}
.centered-title{
    font-size: 50;
    font-weight: 600;
}
.productive-users-section-items{
    display: flex;
    justify-content: space-between;
    background-color: rgba(108, 103, 230, 0.1);
    padding: 0 145px;
    border-radius: 40px;

}
.productive-users-section-items h2{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.productive-users-section-items p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.get-in-tuch{
    display: flex;
    margin: 0 auto;
    padding: 0 250px;
    gap: 71px;
    justify-content: space-between;
    border: 5px solid red;
    align-items: center;
    justify-content: space-between;


}
.get-in-tuch-item{
    width: 500px;
}
.get-title{
    font-weight: 700;
    font-size: 97px;
}
form{
    width: ;
    border: 2px solid red;
}
form .form-items{
    width: 100%;
}
form input{
    padding: 10px 10px;
}
/*footer section*/
footer section{
    margin: 100px 455px;
    text-align: center;
} 
footer h3{
    font: bolder;
    font-size: 97px;
}
footer li{
    list-style: none;
}
li a{
    text-decoration: none;
}
